.app {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 20px 30px 50px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
}

.app h1 span {
  font-size: 20px;
  color: #fff;
  background-color: #d11313;
  padding: 10px 10px;
  border-radius: 5px;
}

.app .rec-arrow-left,
.app .rec-arrow-right {
  position: absolute;
  top: 60px;
  right: 60px;
  border-radius: 5px;
  color: #fff;
  background-color: #8b8b8b;
}

.app .rec-arrow-left {
  margin-left: 100px;
}

.app .rec-arrow-right {
  margin-right: 100px;

}

.app .rec-pagination {
  display: none;
}